.container {
    display: none;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(128,128,128, 0.7); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    backdrop-filter: blur(3px);
}

.wrapper {
    background-color: #131315;
    max-width: 800px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 580px;
    padding: 30px;
    margin-left: 350px;
    margin-top: 50px;
}


.container span {
    color: #fff;
}
.remove {
    background-color: #FF1744;
    left: 100px;
    position: absolute;
    top: 30px;
    width: 25px;
    line-height: 25px;
    font-weight: bold;
    height: 25px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;  
    gap: 20px;
}

.image {
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.noun {
    font-weight: bolder;
    font-size: 1.8rem;
}

.graph {
    margin: 30px 15px 30px 0;
    width: 760px;
    height: 300px;
}

.option {
    display: flex;
    align-items: center;
    /* margin-top: -150px; */
    /* margin-left: 50px; */
    gap: 80px;
}


.option button {
    color: #fff;
    box-shadow: inset;
    margin: 10px 20px;
    background-color: #18181cdb;
    border: 1px solid #3874ff;
    color: #3874ff;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 1rem;
    box-shadow: 1px 1px 4px 2px #2979FF;
    cursor: pointer;
}
.ok {
    color: red;
    background-color: #38ff3b;
}

.data {
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.data .certain {
    font-weight: bold;
    color: #2979FF;
}